.tracklistContainer {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 400px;

    overflow: visible;
    z-index: 30;
}

.tracklistButton {
    all: unset;

    color: black;
    filter: drop-shadow(0 0 10px var(--lightPink));

    font-size: 2rem;
   
    transition-duration: 5s; 
    
    cursor: pointer;
}

.tracklistContainer:hover > i {
    color: white;
    transition-duration: 300ms;
}

.tracklistContainer > ul {
    all: unset;
    display: none;

    position: relative;
    right: 2px;
    
    color: white;
}

.tracklistContainer:hover > ul {
    display: block;
}

.tracklistContainer li {
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 4px;
}

.tracklistContainer button {
    all: unset
}

.tracklistContainer li:hover {
    text-shadow: 0 0 5px var(--darkPink), 0 0 2px var(--lightPink);
}

.pause {
    color: white;
}

@media screen and (max-width: 1262px) {
    .tracklistContainer li {
        font-size: 1rem;
    }

    .tracklistContainer {
        width: 300px;
    }
}