* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}

button {
    cursor: pointer;
}