.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionTop {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;
}

.positionBottom {
    position: absolute;
    bottom: 0;

    width: 100%;
}


.bottom {
    position: absolute;
    top: 0;
}

.player {
    width: 100%;
}

.controls {
    width: 100%;
    display: flex;
}

.controls > button {
    background: none;
    border: none;
    opacity: 0.2;
    font-size: 15rem;
    width: 500px;
    transition-duration: 10s;
    text-shadow: var(--pinkShadow);
    
}

.controls > button:hover {
    opacity: 0.8;
    transition-duration: 500ms;
}

.volume {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 30;
}

.volume > button {
    all: unset;
    color: white;
    font-size: 2rem;
}

.volume > input {
    -webkit-appearance: slider-vertical;
    height: 100px;
    width: 20px;
    z-index: 40;
    cursor: pointer;
}