.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionTop {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;
}

.positionBottom {
    position: absolute;
    bottom: 0;

    width: 100%;
}


.bottom {
    position: absolute;
    top: 0;
}

.player {
    width: 100%;
}

.tracklist {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 30;
    width: 300px;
    overflow: visible;
}

.tracklist > button {
    all: unset;
    color: black;
    filter: drop-shadow(0 0 10px var(--lightPink));
    font-size: 2rem;
    cursor: pointer;
}

.tracklist > ul {
    all: unset;
    color: white;
}

.tracklist > ul > li {
    cursor: pointer;
    font-size: 1.1rem;
}

.tracklist > ul > li:hover {
    text-shadow: 0 0 5px var(--darkPink), 0 0 2px var(--lightPink);
}

.volume {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 30;
    overflow: visible;
}

.volumeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    overflow: visible;
}

.volumeButton > button {
    all: unset;
    color: black;
    filter: drop-shadow(0 0 10px var(--lightPink));
    font-size: 2rem;
}

.volume > input[type=range] {
    position: absolute;
    top: 30px;
    right: -80px;
    -webkit-appearance: none;
    transform: rotate(270deg);
    height: 20px;
    width: 200px;
    z-index: 40;
    margin-top: 100px;
    margin-left: 40px;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--pinkShadow);
    overflow: visible;

}

.volume > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: var(--lightPink);
    box-shadow: var(--pinkShadow);
    cursor: pointer;
}

.controls {
    width: 100%;
    display: flex;
}

.controls > button {
    background: none;
    border: none;
    opacity: 0.2;
    font-size: 15rem;
    width: 500px;
    transition-duration: 10s;
    text-shadow: var(--pinkShadow);
    
}

.controls > button:hover {
    opacity: 0.8;
    transition-duration: 500ms;
}

