.player {
    width: 100%;
}
.name {
    margin-bottom: 50px;
}

.nameGlow {
    color: white;
    opacity: 1;
    transition-duration: 500ms;
}

@media screen and (max-width: 685px) {
    .name {
        font-size: 1.4rem;
    }
}