* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    font-family: 'Major Mono Display', monospace;
    overflow: hidden;
}

:root {
    --lightPink: rgb(223, 136, 202);
    --darkPink: rgba(128, 6, 100, 0.5);
    --pinkShadow: 0 0 50px var(--darkPink), 0 0 15px var(--lightPink);
}

button {
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 0;
    text-align: center;

    width: 100%;
    padding-left: 125px;
    padding-right: 125px;

    opacity: 0;

    font-size: 4.5rem;
    font-weight: 100;
    text-shadow: var(--pinkShadow);

    transition-duration: 30s;

    overflow: visible;
    z-index: 20;
}

h1:hover {
    color: white;
    opacity: 1;
    transition-duration: 500ms;
}

h2 {
    margin-bottom: 5px;

    opacity: 0;

    font-size: 4rem;
    font-weight: 100;
    text-shadow: var(--pinkShadow);

    transition-duration: 30s;

    overflow: visible;
    text-align: center;
    z-index: 20;
}

h2:hover {
    color: white;
    opacity: 1;
    transition-duration: 500ms;
}

.pauseHeading {
    color: white;
    opacity: 1;
    transition-duration: 4s;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionTop {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}

.positionBottom {
    position: absolute;
    bottom: 0;

    width: 100%;
}

@media screen and (max-width: 780px) {
    h1 {
        padding-left: 0;
        padding-right: 55px;
        font-size: 2rem;
        text-align: left;
    }

    h2 {
        font-size: 2rem;
    }
}

@media screen and (max-height: 550px) {
    h1 {
         font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }
}