.progress {
    height: 20px;
    margin-bottom: 20px;

    

    overflow: visible;
}

.displayTime {
    color: white;
    text-shadow: var(--pinkShadow);

    width: 20%;
    height: 100%;
    padding-top: 2px;

    opacity: 0.7;

    transition-duration: 5s;

    font-size: 0.9rem;
}

.displayTime:hover {
    opacity: 1;
    transition-duration: 1s;
}

.progressBar {
    -webkit-appearance: none;
    appearance: none;

    width: 60%;
    border-radius: 20px;
    
    opacity: 0.6;
    
    background-color: rgba(0, 0, 0, 0);
    box-shadow: var(--pinkShadow);
    
    transition-duration: 10s;

    overflow: visible;
    cursor: pointer;
}

.progressBar:hover {
    opacity: 1;
    transition-duration: 1s;
}

.pause {
    opacity: 1;
    transition-duration: 2s;
}

.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 15px;
    border-radius: 20px;

    background: var(--lightPink);
    box-shadow: var(--pinkShadow);
}

.progressBar::-moz-range-thumb {
    width: 25px;
    height: 15px;
    border-radius: 20px;
    
    background: var(--lightPink);
    box-shadow: var(--pinkShadow);
}

.time {
    text-align: right;
    padding-right: 15px;
}

.duration {
    text-align: left;
    padding-left: 15px;
}